<div id="<%= dom_id sti_comment %>">
  <p>
    <strong>Text:</strong>
    <%= sti_comment.text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sti_comment.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= sti_comment.post_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= sti_comment.type %>
  </p>

</div>
